h2 {
	text-align: center;
	font-family: arial, helvetica, sans-serif;
	color: darkblue;
}

div {
	font-family: arial, helvetica, sans-serif;
	text-align: center;	
}


.center {
    text-align: center;
}

textarea {
    font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
    height: 700px;
    width: 500px;
    border: 1px solid black;
    text-align: left;

}
